<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.opuslogica.plugins.HLSPlugin"
    version="1.1.0">
  <name>hls-player</name>
  <description>HLS Player Plugin for Ionic and Cordova</description>
  <license>Apache 2.0</license>
  <keywords>HLS</keywords>

  <js-module src="www/HLSPlugin.js" name="HLSPlugin">
    <clobbers target="window.HLSPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HLSPlugin" >
        <param name="android-package" value="org.opuslogica.plugins.HLSPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.BLUETOOTH" />      
      <uses-permission android:name="android.permission.BROADCAST_STICKY" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>
        
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="org.opuslogica.plugins.HLSPlayerService" android:enabled="true" android:exported="false" />
      <activity android:name="io.vov.vitamio.activity.InitActivity" android:windowSoftInputMode="stateAlwaysHidden"
		android:theme="@android:style/Theme.NoTitleBar"
		android:launchMode="singleTop"
		android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/*">
    </config-file>

    <source-file src="src/android/HLSPlugin.java" target-dir="src/org/opuslogica/plugins" />
    <source-file src="src/android/HLSPlayerService.java" target-dir="src/org/opuslogica/plugins" />
    <hook type="after_prepare" src="scripts/copy-libs.sh" />

  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="HLSPlugin" >
        <param name="ios-package" value="HLSPlugin"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>audio</string>
      </array>
    </config-file>

    <header-file src="src/ios/HLSPlugin.h"/>
    <source-file src="src/ios/HLSPlugin.m"/>
        
    <framework src="MediaPlayer.framework"/>
    <framework src="AudioToolbox.framework"/>
    <framework src="CFNetwork.framework"/>
    <framework src="UIKit.framework"/>
  </platform>
</plugin>
